:root {
    --border-radius: 16px;
    --inner-border-radius: 8px;
    --padding: 8px;
    --border-color: gray;
    --button-color: rgb(22, 101, 192);
    --button-font-color: white; 
    --buttons_width: 96px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
}

img {
    border-radius: var(--border-radius);
}

input {
    max-width: 300px;
}

button {
    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    color:var(--button-font-color);
    font-weight: bold;
    padding: var(--padding);
    min-width: var(--buttons_width);
    border-radius: var(--border-radius);

}

button:hover {
    background-color: #f0f0f0;
    color:black;
}


input[type="submit"] {
    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    color:var(--button-font-color);
    font-weight: bold;
    padding: var(--padding);
    min-width: var(--buttons_width);
    border-radius: var(--border-radius);
}

input[type="submit"]:hover {
    background-color: #f0f0f0;
    color:black;
}

.card{
    padding:var(--padding);
    border: 1px solid var(--border-color);
    border-radius: var(--inner-border-radius);
}

#button-set {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#album {
    margin-top: 16px;
    border: 1px solid var(--border-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:8px;
}

#forms-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 15px;
}

#forms-container>div{
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}


#form1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form1>div {
    min-width: 350px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
}

#form2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form2>div {
    min-width: 350px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    border-radius: var(--border-radius);
}

#logout {
    display:flex;
    justify-content: center;
    min-width: 350px;
    max-width: 400px;
    padding: 10px;
}